/* Container */
.main-content {
    padding-top: 150px;
}

/* bread crumb */

.bread-crumb {
    font-size: 1.6rem;
    color: #A39586;
    background-color: #2A2F3A;
    padding: 7px 0;
    width: 35%;
    position: relative;
}

.bread-crum__link::after,
.bread-crum__name-product::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 100%;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid transparent;
    border-left: 16px solid #2a2f3a;
    margin-left: -1px;
    z-index: 2;
}

.bread-crum__link::before,
.bread-crum__name-product::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 100%;
    border: 16px solid transparent;
    border-left: 16px solid #464e60;
    margin-left: 1px;
    z-index: 1;
}

.bread-crum__link {
    text-decoration: none;
    color: #A4A6A1;
    position: relative;
    padding: 0 15px 0 25px;
}

.bread-crum__name-product {
    padding-left: 25px;
    color: #A4A6A1;
}

/* Home detail movie */

.home-detail-movie__wrap {
    width: 100%;
}

.home-detail-movie__img-back {
    background-image: url(../Image/Film/phu-thuy-toi-thuong/big.jpg);
    background-size: cover;
    background-position: top center;
    height: 500px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}

.home-detail-movie__img-back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}

.home-detail-movie__img {
    position: absolute;
    width: 250px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #fff;
    bottom: 10px;
    left: 10px;
}

.home-detail-movie__icon-play {
    background: rgba(255,150,1,0.75);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.7;
}

.home-detail-movie__icon-play::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
    margin: -15px 0 0 -6px;
}

.home-detail-movie__icon-play:hover {
    transform: scale(1.7);
}

.home-detail-movie__content {
    position: absolute;
    bottom: 10px;
    left: 280px;
}

.home-detail-movie__name {
    margin: 0 0 8px;
    color: #fff;
    text-shadow: 0 2px 1px #333;
    font-size: 3rem;
    font-weight: normal;
}

.home-detail-movie__name-other {
    font-size: 1.8rem;
    margin: 0 0 10px;
    font-weight: 700;
    text-shadow: 0 2px 1px #333;
    color: white;
    font-weight: normal;
}

.home-detail-movie__button {
    display: flex;
    align-items: center;
}

.home-detail-movie__btn-watch-later {
    border: none;
    outline: none;
    background-color: #03a8f5;
    padding: 10px 26px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.home-detail-movie__btn-watch-later:hover {
    background-color: #006695;
}


.home-detail-movie__btn-watch-wrap {
    background-color: #F0AD4E;
    padding: 11px 0;
    border-radius: 10px;
    text-align: center;
}

.home-detail-movie__btn-watch {
    text-decoration: none;
    padding: 10px 26px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F0AD4E;
}

.home-detail-movie__btn-watch:hover {
    background-color: #b06700;
}

.home-detail-movie__info {
    background-color: #252525;
    padding: 16px 12px;
    margin-top: 12px;
}

.home-detail-movie__info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.home-detail-movie__info-item {
    width: 33.3333%;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    line-height: 1.8;
}

.home-detail-movie__info-status {
    margin: 0;
    padding-left: 4px;
    color: red;
    font-weight: 600;
}

.home-detail-movie__info-link {
    text-decoration: none;
    color: #7f7c7a;
    padding-left: 4px;
    font-weight: 600;
}

.home-detail-movie__info-link:hover {
    color: red;
}

.home-detail-movie__info-time {
    margin: 0;
    padding-left: 4px;
    color: red;
    font-weight: bold;
}

.home-detail-movie__des {
    background-color: #252525;
    padding: 16px 12px;
    border-top: 1px solid #323232;
}

.home-detail-movie__des-label {
    margin: 0;
    font-size: 2rem;
    color: #f29601;
}

.home-detail-movie__des-content {
    font-size: 1.6rem;
    color: #7f7c7a;
    line-height: 1.4;
}

.home-detail-movie__tag {
    background-color: #252525;
    padding: 16px 12px;
    border-top: 1px solid #323232;
}

.home-detail-movie__tag-label {
    font-size: 2rem;
    color: #f29601;
    margin: 0 0 20px 0;
}

.home-detail-movie__tag-item {
    text-decoration: none;
    color: #7f7c7a;
    font-size: 1.5rem;
    margin-right: 5px;
    background-color: #353535;
    padding: 4px 8px;
}

.home-detail-movie__tag-item:hover {
    background-color: #f29601;
    color: white;
}


/* movie */

.home-movie__wrap {
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.home-movie__item {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    margin-top: 16px;
}

.home-movie__item:hover .home-movie__item-img-wrap::before {
    bottom: 0;
}

.home-movie__item:hover .home-movie__item-img {
    transform: translateY(-50px);
    filter: blur(2px);
}

.home-movie__item:hover .home-movie__item-detail {
    bottom: 0px;
    width: 100%;
}

.home-movie__item-img-wrap {
    position: relative;
    overflow: hidden;
}

.home-movie__item-img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #c1d19c 50%, transparent);
    bottom: -100px;
    transition: 0.5s;
    z-index: 1;
}

.home-movie__item-img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    height: 348px;
}

.home-movie__item-detail {
    position: absolute;
    bottom: -127px;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s;
}

.home-movie-item__name {
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
    color: white;
}

.home-movie-item__director {
    font-size: 1.4rem;
    margin: 5px 0 0 0;
    color: white;
}

.home-movie-item__rating {
    margin-top: 5px;
    position: relative;
}

.home-movie-item__rating-icon {
    color: yellow;
    font-size: 1.2rem;
}

.home-movie-item__rating-label {
    font-size: 1.2rem;
    color: white;
}

.home-movie-item__button {
    margin-top: 10px;
    display: flex;
}

.home-movie-item__btn-watch-later {
    border: none;
    outline: none;
    background-color: #03a8f5;
    padding: 10px 13px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.home-movie-item__btn-watch-later:hover {
    background-color: #006695;
}

.home-movie-item__btn-watch-wrap {
    background-color: #F0AD4E;
    padding: 11px 0;
    border-radius: 10px;
    text-align: center;
}

.home-movie-item__btn-watch {
    text-decoration: none;
    padding: 10px 13px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F0AD4E;
}

.home-movie-item__btn-watch:hover {
    background-color: #b06700;
}

.home-movie-item__cast {
    position: relative;
}

.home-movie-item__cast-label {
    font-size: 1.6rem;
    color: white;   
    margin: 10px 0 0 0;
}

.home-movie-item__cast-list {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

.home-movie-item__cast-item {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}

.home-movie-item__cast-item-img {
    max-width: 100%;
}
/* Product slider */
.product-slider {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.product-slider .cs-hidden .home-movie__item {
    width: 215px;
    height: 348px;
}

.product-slider .cs-hidden .home-movie__item .home-movie__item-img {
    height: 422px;
}

.slider-heading__label {
    font-size: 2.5rem;
    color: white;
    margin: 0 0 0 5px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 3px solid #03a8f5;
}