/* Container */
.main-content {
    padding-top: 150px;
}

/* Home watch movie */

.home-watch-movie__wrap {
    width: 100%;
}

.home-watch-movie__back {
    background-image: url(../Image/Film/phu-thuy-toi-thuong/big.jpg);
    background-size: cover;
    background-position: top center;
    height: 650px;
    position: relative;
    border-radius: 5px;
    margin-top: 20px;
}

.home-watch-movie__back::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
}

.home-watch-movie__icon-play {
    background: rgba(255,150,1,0.75);
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    transform: scale(1.5);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.home-watch-movie__icon-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: red;
    animation: loader 1s ease infinite;
    margin: -25px 0 0 -25px;
    cursor: pointer;
    z-index: 10;
    transform: scale(1.5);
    pointer-events: none;
    display: none;
}

.home-watch-movie__icon-play::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border: 15px solid transparent;
    border-left: 20px solid #fff;
    margin: -15px 0 0 -6px;
}

.home-watch-movie__tool {
    margin: 10px 0 0;
    overflow: hidden;
}

.home-watch-movie__tool-list {
    float: right;
    list-style: none;
    display: flex;
    font-size: 1.5rem;
    color: white;
}

.home-watch-movie__tool-item {
    margin: 0 0 0 10px;
    cursor: pointer;
}

.home-watch-movie__tool-name {
    line-height: 30px;
    margin: 0 3px 0 0;
}

.home-watch-movie__radian {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    color: #000;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background: -webkit-radial-gradient(circle,#808080,#3a3a3a);
}

.home-watch-movie__tool-item {
    width: 134px;
}

.home-watch-movie__autoplay {
    position: relative;
}

.home-watch-movie__btn {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.home-watch-movie__btn-autonext {
    position: relative;
    display: flex;
    align-items: center;
}

.home-watch-movie__switch-btn {
    height: 30px;
    flex: 0 0 60px;
    border-radius: 30px;
}

.home-watch-movie__btn:checked~.home-watch-movie__switch-btn {
    background-color: #ff9601;
}

.home-watch-movie__server {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    background-color: #1a1a1a;
    padding: 4px 0;
    border-radius: 10px;
}

.home-watch-movie__server-name {
    font-size: 1.6rem;
    background-color: #f1864c;
    color: black;
    margin: 0;
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    padding: 0 10px;
}

.home-watch-movie__server-list {
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
}

.home-watch-movie__server-item {
    font-size: 1.6rem;
    margin-right: 10px;
}

.home-watch-movie__server-link {
    text-decoration: none;
    color: white;
    background-color: #121212;
    padding: 10px;
    border-radius: 5px;
}

.home-watch-movie__server-link:hover {
    background-color: #e87d7f;
}

.home-watch-movie__server-active .home-watch-movie__server-link,
.home-watch-movie__episode-active .home-watch-movie__episode-link {
    color: black;
    background-color: #ff9601;
}

.home-watch-movie__episode {
    background-color: #333333;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.home-watch-movie__episode-label {
    font-size: 1.6rem;
    margin: 0;
    color: #fff601;
    padding-bottom: 10px;
}

.home-watch-movie__episode-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home-watch-movie__episode-item {
    font-size: 1.6rem;
    margin-right: 10px;
}

.home-watch-movie__episode-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 5px;
}

.home-watch-movie__episode-link:hover {
    background-color: #e87d7f;
}

.home-watch-movie__info {
    margin-top: 50px;
}

.home-watch-movie__name {
    color: #ff9601;
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
}

.home-watch-movie__name-other {
    color: white;
    font-size: 1.8rem;
    margin: 8px 0;
}

.home-detail-movie__des-content {
    font-size: 1.6rem;
    color: #b0adab;
    background-color: #322b2b;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

/* Movie Slider*/

.home-movie__wrap {
    display: grid;
    grid-template-columns: repeat(4,25%);
}

.home-movie__item {
    display: block;
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    position: relative;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
    margin-top: 16px;
}

.home-movie__item:hover .home-movie__item-img-wrap::before {
    bottom: 0;
}

.home-movie__item:hover .home-movie__item-img {
    transform: translateY(-50px);
    filter: blur(2px);
}

.home-movie__item:hover .home-movie__item-detail {
    bottom: 0px;
    width: 100%;
}

.home-movie__item-img-wrap {
    position: relative;
    overflow: hidden;
}

.home-movie__item-img-wrap::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #c1d19c 50%, transparent);
    bottom: -100px;
    transition: 0.5s;
    z-index: 1;
}

.home-movie__item-img {
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    height: 348px;
}

.home-movie__item-detail {
    position: absolute;
    bottom: -127px;
    left: 0;
    padding: 20px;
    z-index: 2;
    transition: 0.5s;
}

.home-movie-item__name {
    text-decoration: none;
    font-size: 1.8rem;
    margin: 0;
    color: white;
}

.home-movie-item__director {
    font-size: 1.4rem;
    margin: 5px 0 0 0;
    color: white;
}

.home-movie-item__rating {
    margin-top: 5px;
    position: relative;
}

.home-movie-item__rating-icon {
    color: yellow;
    font-size: 1.2rem;
}

.home-movie-item__rating-label {
    font-size: 1.2rem;
    color: white;
}

.home-movie-item__button {
    margin-top: 10px;
    display: flex;
}

.home-movie-item__btn-watch-later {
    border: none;
    outline: none;
    background-color: #03a8f5;
    padding: 10px 13px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.home-movie-item__btn-watch-later:hover {
    background-color: #006695;
}

.home-movie-item__btn-watch-wrap {
    background-color: #F0AD4E;
    padding: 11px 0;
    border-radius: 10px;
    text-align: center;
}

.home-movie-item__btn-watch {
    text-decoration: none;
    padding: 10px 13px;
    font-size: 1.4rem;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    background-color: #F0AD4E;
}

.home-movie-item__btn-watch:hover {
    background-color: #b06700;
}

.home-movie-item__cast {
    position: relative;
}

.home-movie-item__cast-label {
    font-size: 1.6rem;
    color: white;   
    margin: 10px 0 0 0;
}

.home-movie-item__cast-list {
    list-style: none;
    display: flex;
    position: relative;
    padding: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

.home-movie-item__cast-item {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 5px;
}

.home-movie-item__cast-item-img {
    max-width: 100%;
}
/* Product slider */
.product-slider {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.product-slider .cs-hidden .home-movie__item {
    width: 215px;
    height: 348px;
}

.product-slider .cs-hidden .home-movie__item .home-movie__item-img {
    height: 422px;
}

.slider-heading__label {
    font-size: 2.5rem;
    color: white;
    margin: 0 0 0 5px;
    font-weight: bold;
    padding-left: 20px;
    border-left: 3px solid #03a8f5;
}